@define-color background-color #001e49;
@define-color border-color #3f74c0;
@define-color label #eef1d7;
@define-color image #eef1d7;
@define-color progress #d2df6f;

window:not(:backdrop),
window:backdrop {
    border: none;
    border-width: 0;
    border-radius: 24px;
    background-color: transparent;
    box-shadow: none;
    padding: 12px;
}

window:not(:backdrop) #container,
window:backdrop #container {
    border-radius: 24px;
    border: none;
    border-width: 0;
    background-color: @background-color;
    padding: 12px;
    background-clip: padding-box;
    box-shadow: 0 0 18px 4px rgba(0, 214, 255, 0.6);
}
