@define-color bg #001e49;
@define-color fg #eef1d7;
@define-color gray1 #417557;
@define-color gray2 #3f74c0;
@define-color gray3 #1fb1a5;
@define-color gray4 #C3C375;
@define-color gray5 #4b64fd;
@define-color fg_bright #eef1d7;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}